{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block content %}


<section class="section-info">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <a name="gold_medal"></a>
                </br>
                </br>
                <div class="wrapper">
                    </br>
                    </br>
                    </br>
                    <h2> {{ self.subtitle }}</h2>
                    {% comment %} <h1 style="font-size: 6px;color:#fff"></h1> {% endcomment %}
                    {% comment %} {{ self.company_info|richtext }} {% endcomment %}
                    <p>Доставляем продукты питания для Вашего бизнеса!
                        Опыт работы с взыскательными клиентами – Мы знаем что Вам нужно.
                        Не тратим зря Ваше время – у нас качественная, всегда свежая продукция.
                        Только проверенные поставщики и производители продукции - Наша Гарантия высокого качества.
                        Удобный сервис- работаем 7 дней в неделю 24 часа.
                        Доставка заказов каждый день , без выходных.
                        Прием заказов с 10 до 18ч.
                        Мы знаем как Вам заработать и сделать Ваш бизнес преуспевающим!
                </div>
            </div>
        </div>
    </div>


</section>

{% comment %} <div class="paraxify-brie"> {% endcomment %}
    {% endblock %}