{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
   
{% block content %}
          <section class="section-1"> 
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="top-wrap top-wrap-1">
                                <div class="top-img top-img-1">
                                    <a class="link-head" href="{% slugurl 'cheese' %}">
                                        <span>Рыба</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="top-wrap top-wrap-2">
                                {% comment %} <img class="main-logo" src="images/main-logo.png" alt=""> {% endcomment %}
                                <div class="top-img top-img-2">
                                    <a class="link-head" href="{% slugurl 'cheese' %}">
                                        <span>Сыр</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="top-wrap top-wrap-3">
                                <div class="top-img top-img-3">
                                    <a class="link-head" href="{% slugurl 'cheese' %}.html">
                                        <span>Мясо</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-3">
						    <a name="gold_medal"></a>
							{% comment %} <h1 style="font-size: 6px;color:#fff"></h1> {% endcomment %}
                            {{ self.company_info|richtext }}
                            
                        </div>
                    </div>
                </div>
            </section>
{% endblock %}

