  
    <!DOCTYPE html>
    <html>

    <head>
        <meta http-equiv="content-type" content="text/html" />
        <meta name="author" content="style" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <meta name="yandex-verification" content="deaffe76efb976ff" />
	<link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
	<link rel="SHORTCUT ICON" href="favicon.ico">
	
		<script src="static/js/jquery-1.9.1.min.js"></script>
        <script src="static/js/jquery-migrate-1.4.1.js"></script>
		<!--<script src="/js/jquery.mask.js"></script>-->
        <script src="static/js/owl.carousel.js"></script>
        <script src="static/js/wow.js"></script>
        <script src="static/js/common.js"></script>

        <link href="static/css/bootstrap.css" type="text/css" rel="stylesheet">
        <link href="static/css/style.css%3F1577363404.css" type="text/css" rel="stylesheet">
        <link href="static/css/owl.carousel.css" type="text/css" rel="stylesheet">
        <link href="static/css/owl.theme.default.css" type="text/css" rel="stylesheet">
        <link href="static/css/animate.css" type="text/css" rel="stylesheet">
        <link href="static/css/response.css" type="text/css" rel="stylesheet">
        

<title>PandaProduct</title><meta name="keywords" content="Поставка продуктов в рестораны" /><meta name="description" content="Официальный сайт российского производства сыров Alti. Мы представляем традиционную линейку европейских сыров: Mozzarella, Camembert, Brie, Cottage. На нашем сайте вы сможете заказать сыры оптом по ценам производителя. " />

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PVPPFVH');</script>
<!-- End Google Tag Manager -->

    </head>
        <style>
header
{
    margin-top: 0!important;
}
header a
{
    visibility: visible!important;
    opacity: 1!important;
}
</style>

    <body>
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PVPPFVH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="hamburger"></div>
<div class="mobile-menu">
    <div class="close"></div>
    <ul>
        <li><a href="index.html">Главная</a></li>
        <li><a href="mozzarella/index.html">Сыр</a></li>
        <li><a href="camembert/index.html">Мясо</a></li>
        <li><a href="brie/index.html">Рыба</a></li>
        <li><a href="cottage/index.html">Сделать Заказ</a></li>
        <li><a href="reklamnaya_produkciya/index.html">Новости</a></li>
    </ul>
</div>
  <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="header-logo-wrap">
                        <a href="index.html">
                <img src="static/images/header-arrow.png" alt="">
            </a>
                    </div>
                </div>
                <div class="col-md-8">

                    <nav class="nav-extra">
                    <li><a href="index.html">Главная</a></li>
                        <li><a href="o_kompanii/index.html">О компании</a></li>
                        <li><a style="cursor: default;">Продукция</a>
                            <ul>
                               <li><a href="camembert/index.html">Мясо</a></li>
                                <li><a href="brie/index.html">Рыба</a></li>
                                <li><a href="mozzarella/index.html">Сыры</a></li>
                                {% comment %} <li><a href="cottage/index.html">Cottage</a></li> {% endcomment %}
                            </ul>

                        </li>
                        <li><a href="poleznaya_informaciya.html">Новости</a></li>
                        <li>
                            <a href="contact/index.html">Контакты</a></li>
                    </nav>
                </div>
                <div class="col-md-2 ">
                    <div class="header-logo-wrap ">
                       
                {% comment %} <img src="images/logo-header.png" alt=" "> {% endcomment %}
         
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    
     <div class="feedback-btn element-btn" data-showEl="1">
        Заявка на поставку продукции
    </div>

    <div class="popup-wrap element-show" data-showEl="0">
        <div class="table-row">
            <div>
                <div>
                    <div class="close-wrap"></div>
                    <div class="popup">
                        <div class="close"></div>
                        <h3 class="global">Форма обратной связи</h2>
                            <div class="result"></div>
                            <form class="form" action="index.html" method="post">
                                <div>
                                    <input type="text" name="name" placeholder="Ваше имя" class="required input-name">
                                </div>
                                <div>
                                    <input type="text" name="phone" placeholder="Ваш телефон" class="required input-phone">
                                </div>

                                <div>
                                    <input type="text" name="mail" placeholder="Ваш email" class="input-mail">
                                </div>
                                <div>
                                    <textarea name="message" placeholder="Текст сообщения" class="input-description"></textarea>
                                </div>

                                <a href="index.html#" class="btn btn-send">Отправить</a>
                                <div class="last-info">
                                    Нажимая кнопку отправить, вы соглашаетесь с <a href="index.html#">политикой конфиденциальности</a>.
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-wrap element-show" data-showEl="1">
        <div class="table-row">
            <div>
                <div>
                    <div class="close-wrap"></div>
                    <div class="popup">
                        <div class="close"></div>
                        <h3 class="global">Заявка на поставку продукции</h2>
                            <div class="result"></div>
                            <form class="form" action="index.html" method="post">
                                <div>
                                    <input type="text" name="name" placeholder="Ваше имя" class="input-name">
                                </div>
                                <div>
                                    <input type="text" name="phone" placeholder="Ваш телефон" class="required input-phone">
                                </div>
								<div>
                                    <input type="text" name="mail" placeholder="Ваш email" class="required input-mail">
                                </div>
								 {% comment %} <div>
                                    <input type="text" name="town" placeholder="Ваш город" class="required input-town">
                                </div>
                                 <div class="custom-select input-theme input-product">
                                    <span>Продукт</span>
                                    <ul>
										<li class="typeMain" data-typeMain="1">Mozzarella </li>
                                        <li class="typeMain" data-typeMain="2">Сыры с белой плесенью</li>
                                    </ul>
                                    <i></i>
                                </div>
                                <div>
                                    <input type="text" name="name" placeholder="Планируемый объем закупок" class="input-weight">
                                </div> {% endcomment %}
                                <div>
                                    <textarea name="message" placeholder="Дополнительная информация" class="input-dopinfo"></textarea>
                                </div> 

                                <a href="index.html#" class="btn btn-send">Оставить заявку</a>
                                <div class="last-info">
                                    Нажимая кнопку "Оставить заявку", вы соглашаетесь с <a >политикой конфиденциальности</a>.
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>            <section class="section-1">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="top-wrap top-wrap-1">
                                <div class="top-img top-img-1">
                                    <a class="link-head" href="camembert/index.html">
                                        <span>Рыба</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="top-wrap top-wrap-2">
                                {% comment %} <img class="main-logo" src="images/main-logo.png" alt=""> {% endcomment %}
                                <div class="top-img top-img-2">
                                    <a class="link-head" href="brie/index.html">
                                        <span>Сыр</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="top-wrap top-wrap-3">
                                <div class="top-img top-img-3">
                                    <a class="link-head" href="mozzarella/index.html">
                                        <span>Мясо</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-2">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 col-md-offset-0">
						<a name="gold_medal"></a>
                            {% comment %} <div class="blue-box"> {% endcomment %}

                                {% comment %} <div class="blue-box-wrap" style="
    margin-top: 0px;
"> {% endcomment %}
                                    {% comment %} <img src="images/logo-content.png" alt=""> {% endcomment %}
									<h1 style="font-size: 3px;color:#fff"> </h1>
                                    <p><h3>
Мы способны удовлетворить потребности клиентов любого уровня!

В нашем Прайс-листе только лучшие товары хорошо зарекомендовавших себя на рынке производителей и торговых марок.
                                 </h3>   </p>
{% comment %} <p><img src="images/zolotaya_medal_ugrich_short.png" style="
    float: left;
    width: 100px;
	margin: -10px 15px 10px 0; 
">{% endcomment %}</p><h3>«PandaProduct» — профессиональный поставщик продуктов питания в рестораны, кафе, гостиницы, розничные магазины, комбинаты питания по Москве и Московской области.</h3><p><h3>В ассортименте компании свыше 50 товарных единиц. У нас представлены все товарные группы для сегмента  HoReCa.</h3></p>
                                </div>
                                {% comment %} <div class="blue-box-tl"></div> {% endcomment %}
                                {% comment %} <div class="blue-box-tr"></div> {% endcomment %}
                                {% comment %} <div class="blue-box-tc"></div>
                                <div class="blue-box-bl"></div>
                                <div class="blue-box-br"></div>
                                <div class="blue-box-bc"></div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            {% comment %} <section class="section-3">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="blue-box">

                                <div class="blue-box-wrap">
                                    <img src="images/logo-content.png" alt="Российский производитель сыров Alti">
                                    <p>
                                       <b>Поставляем продукцию в</b>:<br>
X5 Retail Group, Азбука вкуса, Глобус Гурмэ, Лента, METRO C&amp;C, Selgros C&amp;C, Бахетле, Империя Пиццы, Pizza Hut, ДоДо Пицца, Пицца Фабрика, Domino's Pizza

                                    </p>
                                    <p>
                                    <b>География представленности</b>:<br>
Москва, Санкт-Петербург, Новосибирск, Екатеринбург Нижний Новгород, Казань, Самара, Уфа и др.
                                    </p>
                                </div>
                                <div class="blue-box-tl"></div>
                                <div class="blue-box-tr"></div>
                                <div class="blue-box-tc"></div>
                                <div class="blue-box-bl"></div>
                                <div class="blue-box-br"></div>
                                <div class="blue-box-bc"></div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    {% comment %} <div class="row full">
                        <div class="col-md-12">
                            <div class="partners-wrap">
                                <img class="" src="images/Alti_partners_logo.png" alt="Наши партнеры: Папа Джонс, Азбука Вкуса, Виктория, Лента, X5 Retail Group, Додо пица, Metro и другие">
                            </div>
                        </div>
                    </div>
                </div>
            </section> {% endcomment %}

            <footer>
    <div class="footer-wrap">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 col-md-offset-0 col-sm-4">
                    <nav>
                        <p class="footer_head">Меню</p>
                        <ul>
                            <li><span><a href="index.html">Главная</a></span></li>
							<li><span><a href="o_kompanii/index.html">О компании</a></span></li>
                            <li><span><a href="mozzarella/index.html">Сыр</a></span></li>
                            <li><span><a href="camembert/index.html">Мясо</a></span></li>
                            <li><span><a href="brie/index.html">Мясо</a></span></li>
                            <li><span><a href="cottage/index.html">Новости</a></span></li>
                            {% comment %} <li style="line-height: 0.9;"><span><a href="reklamnaya_produkciya/index.html">Рекламные материалы</a></span></li>
							<li><span><a href="poleznaya_informaciya.html">Полезные статьи</a></span></li> {% endcomment %}
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2 col-sm-4 contacts">

                    <p class="footer_head">Контакты</p>
					<p>
                        <a href="tel:+79219212296">+7 (921) 921-921-22-96</a>
                    </p>
                    <p>
                        <a href="mailto:sales@alti.pro">
                            start@PandaProduct
                        </a>
                    </p>
                    <p>
                        Сыр/Мясо/Рыба:
                    </p>
                    
                    <p>
                        <a href="files/assortiment_pizza_Alti.pdf" target="_blank">
                            Скачать презентацию
                        </a>
                    </p>
					{% comment %} <p>
                        Camembert/Brie:
                    </p>
                    <p>
                        <a href="files/assortiment_brie_camembert_altipro.pdf" target="_blank">
                            Скачать презентацию
                        </a>
                    </p>
										<p>
                        <a href="sitemap/index.html">
                            Карта сайта
                        </a>
                    </p> {% endcomment %}

                </div>
                <div class="col-md-2 col-sm-4 contacts second">
               
                    
                </div>
            </div>
            <div class="row footer-row-second">
                <div class="col-md-2 col-md-offset-2  col-sm-4">
                    <div class="copyright">
                        © <span>PandaProduct</span> 2019
                    </div>
                </div>
                <div class="col-md-5  col-sm-4">
                    {% comment %} <div class="footer-logo">
                        <img src="images/logo-2.png" alt="" />
                    </div> {% endcomment %}
                </div>
                <div class="col-md-3  col-sm-4">
                    <style>
                        .sy-logo {
                            font-family: arial, sans-serif;
                            color: #c5c6c9;
                            margin-top: -8px;
                        }
                        
                        .sy-logo span {
                            font-size: 11px;
                            display: inline-block;
                            vertical-align: middle;
                            margin: 4px 0;
                        }
                        
                        .sy-logo i {
                            font-size: 43px;
                            font-style: normal;
                            width: 28px;
                            vertical-align: middle;
                            display: inline-block;
                        }
                        
                        .sy-logo b {
                            display: inline-block;
                            font-family: inherit;
                            font-weight: bold;
                        }
                        
                        .sy-2 {
                            line-height: .7;
                        }
                        
                        .sy-logo .sy-3 {
                            text-align: left;
                        }
                        
                        .sy-logo .sy-2-1 {
                            position: relative;
                            left: 6px;
                        }
                        
                        .sy-logo .sy-2-2 {
                            position: relative;
                            left: -6px;
                        }

                    </style>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>

</html>
