{% extends 'base.html' %}
{% load wagtailcore_tags %}
	 
	{% block content %}
<section class="section-info">
                <div class="container-fluid">
                    <div class="row">
                
                        <div class="col-md-5 col-md-offset-2">
						 </br> </br> </br> </br> </br>
						     <h3>{{ self.thank_you_text|richtext }}</h3>
                             </br> </br> 
                              <a href="/documents/1/.pdf" target="_blank">
                              <img align="bottom" src="https://interkom-l.ru/upload/medialibrary/c52/excel_icon.png" width="160" height="220" class="rightpic"  alt="альтернативный текст">
               </br>             
                  </a> 
	    <p>
	        {% comment %} {{ self.thank_you_text|richtext }} {% endcomment %}
	    </p>
	
                        </div>
                    </div>
                </div>
                
   
            </section>


	   
	{% endblock %}