{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-md-4">
    <div class="img-box">
        {% image self.photo original as img1 %}
        <img class="img-front" src="{{ img1.url }}" alt="">
    </div>
</div>
</div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-4 col-md-offset-1">
        <div class="inner-about-wrap">
            {% comment %} <h3>
                ХАРАКТЕРИСТИКИ:
            </h3> {% endcomment %}
            <div class="box-all-info">
                {% comment %} <div class="item-box circlesix">

                </div>
                <div class="item-box weightcto">

                </div>
                <div class="item-box null">

                </div>
                <div class="item-box clock">

                </div>
                <div class="item-box thermometer">

                </div>
                <div class="item-box twoday">

                </div> {% endcomment %}
                {{ self.information_left }}
            </div>
        </div>
    </div>
    <div class="col-md-4  col-sm-4 col-sm-offset-1">
        <div class="inner-about-wrap">
            {% comment %} <h3>
                ФАСОВКА И ТРАНСПОРТНАЯ УПАКОВКА:
            </h3> {% endcomment %}
            {% comment %} <div class="detail-info-item"> {% endcomment %}

                <div class="box-all-info">
                    {% comment %} <div class="item-box box">

                    </div>
                    <div class="item-box ratevosem">

                    </div> {% endcomment %}
                    {{ self.information_right }}

                </div>
            </div>
        </div>