        <div class="top-detail full-height">
       
    </div>
    <div class="content-detail content-camembert">
        <div class="brie-bg-1"></div>
        <div class="brie-bg-2"></div>
            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <h1>{{ self.title}}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-md-offset-3">
                    <div class="content-description">
                   <p>
                        {{ self.text }}
                </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product-wrap">
                    <div class="product-item">
                        <div class="col-md-3  col-sm-3 col-md-offset-3">
                            <div class="product-info">
                                <p>
                                  <b>
                                  <a href="snack_paprika/index.html">Alti Brie
                                <br>Snack Paprika&Tomato 
                                <br> 180 г</a>
                                  </b>
                                </p>
                                <p>
                                    <span>
                                        Транспортная <br>
                                        упаковка: 8 х 125 г
                                    </span>
                                </p>
								<a href="../index.html#gold_medal"><img class="gold_medal" src="../images/zolotaya_medal_ugrich.png"></a>
                            </div>
                        </div>
                        <div class="col-md-5  col-sm-5">
                            <div class="product-img wow fadeInUp">
                                 <a href="snack_paprika/index.html"> <img style="max-width: 460px;" src="../images/sb_snack_paprika.png" alt="Сыр Alti Brie Snack Paprika&Tomato 180 г"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="paraxify-brie">