{% load static wagtailuserbar %}
{% load wagtailcore_tags %}


<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    {% comment %}
    <meta charset="utf-8" /> {% endcomment %}
    <meta http-equiv="content-type" content="text/html" />
    <meta name="author" content="style" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    {% comment %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/panda.css' %}"> {% endcomment %}
    <link rel="icon" type="image/vnd.microsoft.icon" href="favicon.ico">
    <link rel="SHORTCUT ICON" href="favicon.ico">
    <link href="{% static 'css/bootstrap.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/style.css%3F1577363404.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/style1.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/owl.theme.default.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'css/response.css' %}" type="text/css" rel="stylesheet">
    <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <style>
        .rightpic {
            float: left;
            /* Выравнивание по правому краю */
            margin: 0 0 5px 5px;
            /* Отступы вокруг фотографии */
        }

        header {
            margin-top: 0 !important;
        }

        header a {
            visibility: visible !important;
            opacity: 1 !important;
        }

        .detail-inner {
            padding-bottom: 0px;
            margin-bottom: 0px;
            margin-top: -50px;
        }

        .description-wrap {
            padding-bottom: 50px;
    </style>

    {% block extra_css %}
    {% comment %}
    <link href="{% static 'css/style.css%3F1577363408.css' %}" type="text/css" rel="stylesheet"> {% endcomment %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}
    <div class="hamburger"></div>
    <div class="mobile-menu">
        <div class="close"></div>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="{% slugurl 'meat' %}">Аппетайзеры</a></li>
            <li><a href="{% slugurl 'meat' %}">Топпинги</a></li>
            <li><a href="{% slugurl 'meat' %}">Морсы</a></li>
            <li><a href="{% slugurl 'fish' %}">Рыба</a></li>
            <li><a href="{% slugurl 'meat' %}">Мясо</a></li>
            <li><a href="{% slugurl 'cheese' %}">Сыр</a></li>
            <li><a href="/documents/1/.pdf">Скачать Каталог</a></li>
            <li><a href="/documents/1/.pdf">Скачать Каталог</a></li>
        </ul>
    </div>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="header-logo-wrap">
                        <a href="index.html">
                            <img src="{% static 'images/header-arrow.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-8">

                    <nav class="nav-extra">
                        <li><a href="/">Главная</a></li>
                        {% comment %} <li><a href="{{ page.get_parent.url }}">Главная</a></li> {% endcomment %}
                        <li><a href="{% slugurl 'about' %}">О компании</a></li>
                        <li><a style="cursor: default;">Продукция</a>
                            <ul>
                                <li><a href="{% slugurl 'meat' %}">Аппетайзеры</a></li>
                                <li><a href="{% slugurl 'meat' %}">Топпинги</a></li>
                                <li><a href="{% slugurl 'meat' %}">Морсы</a></li>
                                <li><a href="{% slugurl 'fish' %}">Рыба</a></li>
                                <li><a href="{% slugurl 'meat' %}">Мясо</a></li>
                                <li><a href="{% slugurl 'cheese' %}">Сыр</a></li>
                            </ul>

                        </li>
                        {% comment %} <li><a href="{% slugurl 'katalog' %}">Каталог</a></li> {% endcomment %}
                        <li>
                            <a href="{% slugurl 'contacts' %}">Контакты</a></li>
                    </nav>
                </div>
                {% comment %} <div class="col-md-2 ">
                    <div class="header-logo-wrap "> {% endcomment %}



                    </div>
                </div>
            </div>
        </div>
    </header>

    <a href="{% slugurl 'pricelist' %}" class="feedback-btn">Запросить прайс</a>
    {% comment %} <div class="feedback-btn element-btn" data-showEl="1">
        Запросить прайс
    </div>
    <div class="popup-wrap element-show" data-showEl="1">
        <div class="table-row">
            <div>
                <div>
                    <div class="close-wrap"></div>
                    <div class="popup">
                        <div class="close"></div>
                        <h3 class="global">Заявка на поставку продукции</h2>
                            <div class="result"></div>
                            <form class="form" action="index.html" method="post">
                                <div>
                                    <input type="text" name="name" placeholder="Ваше имя" class="input-name">
                                </div>
                                <div>
                                    <input type="text" name="phone" placeholder="Ваш телефон"
                                        class="required input-phone">
                                </div>
                                <div>
                                    <input type="text" name="mail" placeholder="Ваш email" class="required input-mail">
                                </div>
                                <div>
                                    <textarea name="message" placeholder="Дополнительная информация"
                                        class="input-dopinfo"></textarea>
                                </div>


                                <a href="index.html#" class="btn btn-send">Оставить заявку</a>
                                <div class="last-info">
                                    Нажимая кнопку "Оставить заявку", вы соглашаетесь с <a>политикой
                                        конфиденциальности</a>.ы
                                </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

    {% block content %}{% endblock %}
    <div id="foot">
        <div id="wrap">



            <footer>
                <div class="footer-wrap">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-2 col-md-offset-0 col-sm-4">


                                <img align="top" src="{% static 'images/pandalast.gif' %}" alt="альтернативный текст"> </nav> </div> <div
                                    class="col-md-push-8 col-sm-1 contacts">
                                </br>
                                </br>
                                <p>
                                    <a href="/documents/1/.pdf" target="_blank">


                                        Скачать Каталог:
                                        </br>
                                        <img align="bottom" src="{% static 'images/panda222.jpg' %}" width="160"
                                            height="220" class="rightpic" alt="альтернативный текст">
                                    </a>




                            </div>
                        </div>
                        <div class="row footer-row-second">


                            <div class="col-md-6 col-md-offset-0  col-sm-2">

                                <div class="copyright">
                                    <a href="tel:+78002349097">+7 (800) 234-90-97</a>
                                    </br>
                                    © <span>PandaProduct</span>



                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </footer>

            {# Global javascript #}
            {% comment %} <script type="text/javascript" src="{% static 'js/panda.js' %}"></script> {% endcomment %}
            <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
            <script src="{% static 'js/jquery-migrate-1.4.1.js' %}"></script>
            <!--<script src="/js/jquery.mask.js"></script>-->
            <script src="{% static 'js/owl.carousel.js' %}"></script>
            <script src="{% static 'js/wow.js' %}"></script>
            <script src="{% static 'js/common.js' %}"></script>
            <script src="{% static 'js/index.js' %}"></script>
            {% block extra_js %}
            {# Override this in templates to add extra javascript #}
            {% endblock %}
</body>

</html>